body {
  background: #ffc7f4;
  background-image:url(https://media4.giphy.com/media/FlodpfQUBSp20/200w.gif?cid=6c09b952x3k6gxfwpz66cywfzjmja31fgcwvqik60su7we89&ep=v1_gifs_search&rid=200w.gif&ct=g)
}
p {
  color: #ffc7f4;
  font-family: consolas;
}
h1 {
  font-weight: bold;
  color: #ffc7f4;
  font-family: consolas;
}
h2 {
  font-weight: bold;
  color: #ffc7f4;
  font-family: consolas;
}
h3 {
	color: #ffc7f4;
	font-family: consolas;
}
a:link {
	color: #6df3f7;
	font-family: consolas;	
}
a:visited {
	color: #be69ff;
	font-family: consolas;	
}
a:active {
	color: #3dffdf;
	font-family: consolas;	
}
p {
	color: #ffc7f4;
	font-family: consolas;
}
body: {
	position:relative; 
    left:200px;    
}